## Fundamentos

Este é um breve resumo introdutório a linguagem python, foi escrito por Alan Gomes (gomesalan@live.com) para fins didáticos e não pode ser utilizado para fins comerciais de quaisquer tipo. Este resumo foi criado para auxiliar pessoas com pelo menos o nível básico em lógica de programação e na sintaxe do python.

In [28]:
# Verificando a versão instalada na máquina

!python --version

Python 3.8.5

### 1 - Tipos de dados

In [3]:
# Numérico inteiro - int 

type(1)

int

In [4]:
# Numérico real - float

type(2.5)

float

In [7]:
# Sequência de caracteres - string 

type('A')

str

In [9]:
type('ABC')

str

In [11]:
# Numérico complexo - complex

type(1 + 9j)

complex

In [13]:
# Lógico 

type(True)

bool

In [15]:
# Podemos usar a função bool() para retornar um valor lógico 

bool(0)

False

### 2 - Conversões entre tipo de dados.

In [52]:
# Note que não há arredondamento.

int(6.7)

6

In [53]:
int(6.2)

6

In [54]:
float(2)

2.0

In [55]:
int('2')

2

In [57]:
float('2.3')

2.3

In [58]:
# Para binário

bin(17)

'0b10001'

### 3 - Entrada e saída de dados

In [38]:
# Entrada - comando input() - retorna uma string 

input()

2

'2'

In [40]:
# Podemos converter para o tipo de dados desejado

int(input())

2

2

In [126]:
# Saída - comando print() - 

print(1)
print('\n') # pula linha
print('ABC')
print('ABC', 1, 'DEF', False)

1


ABC
ABC 1 DEF False

### 4 - Operadores Aritméticos

In [16]:
# Soma
2 + 2

4

In [17]:
# Subtração
4 - 3

1

In [18]:
# Multiplicação
3 * 3

9

In [19]:
# Divisão 

3 / 2

1.5

In [20]:
# Potênciação

4 ** 2

16

In [21]:
# Divisão inteira ( lembre da divisão Euclideana n = d.q + r )

10 // 3

3

In [23]:
# Módulo ou resto da divisão (divisão inteira) 

10 % 3

1

#### 4.1) Algumas operações

In [59]:
2 + 2.0

4.0

In [30]:
4 - 3.3

0.7000000000000002

In [31]:
4 * 2.0

8.0

In [32]:
4 / 2

2.0

In [33]:
4 // 2

2

In [34]:
4 / 3

1.3333333333333333

In [36]:
21 % 4.0

1.0

#### 4.2) Ordem de precedência

In [46]:
print(2 + 3 * 4 - 5) # 2 + (3.4) - 5

# O uso de parênteses altera essa ordem 

print(2 + 3 * (4 - 5))

9
-1

In [47]:
# Ordem de associatividade - esquerda para direita (regra geral). 

print(2 - 3 + 4)
print(4 + 3 - 2)

3
5

In [48]:
# O mesmo vale para divisão - esquerda para direita

print(12/2/3/4) # 12/2 = 6, 6/3 = 2 , 2/4 = 0.5 
print((12/2)/(3/4)) # 6/0.75 = 8.0

0.5
8.0

In [49]:
# Ordem de associatividade - direita para esquerda (exceção é a potenciação)

print(2**2**3) # primeiro 2**3 = 8 e depois 2**8 = 256

256

In [50]:
# Em relação a divisão inteira ou resto da divisão, prioridade secundária. 

12 * 2 % 10 # 12*2 = 24 e 24 % 10 = 4

4

Ordem de precedência dos operadores aritméticos.


1.    &nbsp;&nbsp;&nbsp;`**`
2.    &nbsp;&nbsp;&nbsp;`*`&nbsp;&nbsp;&nbsp;&nbsp;`/`&nbsp;&nbsp;&nbsp;&nbsp;`//`&nbsp;&nbsp;&nbsp;&nbsp;`%`
3.    &nbsp;&nbsp;&nbsp;`+`&nbsp;&nbsp;&nbsp;&nbsp;`-`

#### 4.3) Notação científica

In [30]:
x = 35e3 
print(x)

35000.0

In [31]:
y = 12E4
y

120000.0

Operadores de atribuição compostos

### 5 - Operadores Relacionais

In [60]:
# Maior. 
5 > 3

True

In [61]:
# Menor.
5 < 3

False

In [62]:
# Maior ou igual.
2 >= 3

False

In [63]:
2 >= 2

True

In [64]:
# Menor ou igual.
4 <= 7

True

In [65]:
# Igualdade(Equivalência)

6 == 6

True

In [66]:
# Desigualdade(Inequivalência)

5 != 7

True

### 6 - Operadores Lógicos

Tabelas verdade do E, OU e NÃO. 

https://pt.wikipedia.org/wiki/Tabela-verdade

In [67]:
# E (AND) 

5 == 5 and 6 > 7

False

In [68]:
# OU (OR)

5 == 5 or 6 > 7

True

In [71]:
# NÃO (NOT)

not (5 == 5)

False

In [72]:
# As seguintes instruções são equivalentes

In [74]:
print(2 <= 3 < 9)
print(2 <= 3 and 3 < 9 )

True
True

#### 6.1) Ordem de precedência

Ordem de precedência dos operadores aritméticos.


1.    &nbsp;&nbsp;&nbsp;`not`
2.    &nbsp;&nbsp;&nbsp;`and`
3.    &nbsp;&nbsp;&nbsp;`or`

In [10]:
# Veja a diferença - not 

print(not True or True )
print(not(True or True))

True
False

In [11]:
# Operadores and e or 

print(True or False and True)

True

### 7 - Operadores de atribuição

In [76]:
# Operador - '='  
x = 5  
print(x)

5

#### 7.1) Operadores de atribuição compostos

In [80]:
 # x = x + 1 é equivalente a x += 1

x = 10 
x = x + 1 
y = 10 
y += 1
print(x, y)

11 11

In [81]:
# x = x*10 é equivalente a x *= 10

x = 10 
x = x*10 
y = 10 
y *= 10
print(x, y)

100 100

### 8 - Variáveis

In [84]:
# Atribuindo os valores 

var1 = 10 
var2 = 20 
var_3 = 30 
variavel4 = 40

In [85]:
# A linguagem python é 'case sensitivity', ou seja Var1 != var1 
Var1 = var1 + var2
Var1

30

In [87]:
# Declaração multipla de variáveis. 

v1, v2, v3 = "Alan", 100, 75.5
alpha = beta = gamma = 10000
print(v3)
print(beta)

75.5
10000

### 9 - Saída de dados formatada

#### 9.1) Placeholders

In [97]:
# Usar %s (str), %d ou %r (int) e %f (float).
print(" Olá %s, você tem %d anos." %('Alan', 28))

 Olá Alan, você tem 28 anos.

In [118]:
# Limitando a quantidade de casas decimais - há arredondamento.  
print("Você tem %.2f reais" %(1.2395))

Você tem 1.24 reais

#### 9.2) Método format()

In [99]:
h, m, s = 1, 23, 20
print("{}h:{}m:{}s".format(h, m, s))

1h:23m:20s

In [121]:
print("São R${:.3f} pelos pães. Aumentou {per:.1f}%".format(3.1234, per = 10.29))

São R$3.123 pelos pães. Aumentou 10.3%

In [123]:
print("São R${val:.3f} pelos pães.".format(val = 3.1234))

São R$3.123 pelos pães.

### 10 - Strings

In [30]:
# Strings são uma sequência imutável de caracteres.

string1 = "Esta é uma string"
string2 = "Universidade Federal do ABC"
string3 = 'Alan'
string4 = 'Gomes'

#### 10.1) Operações com strings

In [128]:
print(string3 + string4)
print(string3 + " " + string4) #  caractere ' '

AlanGomes
Alan Gomes

In [129]:
# Concatenando 
string3*5

'AlanAlanAlanAlanAlan'

In [130]:
# Pulando linhas.
print("Esta é outra string")
print("Esta \né \noutra \nstring")

Esta é outra string
Esta
é
outra
string

#### 10.2) Manipulação de strings através do seu índice

In [31]:
print(string1) 
print(string1[0]) # Primeiro elemento da string (em python a indexação começa por 0 )
print(string1[1]) # Segundo elemento da string

Esta é uma string
E
s

In [135]:
# Indexação negativa - 'trás para frente' 

print(string1) 
print(string1[-1]) # Último elemento da string
print(string1[-2]) # Penúltimo elemento da string

Esta é uma string
g
n

In [ ]:
# Imutabilidade da string:

string1[0] = 'J' # (TypeError: 'str' object does not support item assignment)

#### 10.3) Fatiamento de strings - slicing

In [137]:
# string[a:b] - [a,b)

print(string1)
print(string1[0:3]) # [0,3)
print(string1[1:6]) # [1,6)

Esta é uma string
Est
sta é

In [138]:
# Ao omitir a e/ou b, são considerados todos elementos desde o ínicio e/ou final.

print(string1[:6]) # todos elementos até a posição 6 (índice 5)  
print(string1[6:]) # todos elementos a partir da posição 6 (índice 6)

Esta é
 uma string

In [139]:
# Retornar tudo, exceto a última letra 

print(string1[:-1])
print(string1[:-2])
print(string1[-6:]) # índice -6 até o final 
print(string1[11:]) # índice 11 até o final

Esta é uma strin
Esta é uma stri
string
string

#### 10.4) Fatiamento com passo em strings

In [141]:
print(string2)

Universidade Federal do ABC

In [144]:
# Retorna os índices 0, 2, 4, 6,..
string2[::2]

'Uiesdd eea oAC'

In [145]:
# Do índice 0 a 11 com passo 1
print(string2[0:12:1])
# Do índice 0 a 11 com passo 2
print(string2[0:12:2])
# Do índice 0 a 11 com passo 3
print(string2[0:12:3])

Universidade
Uiesdd
Uvsa

In [148]:
# Todos elementos com passo descrecente 
print(string2[::-1])
print(string2[::-2])

CBA od laredeF edadisrevinU
CAo aee ddseiU

In [147]:
# Comparando Strings
print("Python" == "PYTHON")
print("Python" == "Python")

False
True

#### 10.5) Métodos built-in para strings

Python é uma linguagem orientada a objeto, portanto, as strings como objetos da linguagem, possuem atributos e métodos.

In [12]:
string = "Universidade Federal do ABC"

In [13]:
# Dividir a string - método split() - sem argumento o padrão é por espaços em branco. 
# Gera uma lista com os elementos da string. 

string.split()

['Universidade', 'Federal', 'do', 'ABC']

In [18]:
# Observe que 'a' não está na lista, pois foi usado como critério. 
string.split('a')

['Universid', 'de Feder', 'l do ABC']

In [16]:
string.split('A')

['Universidade Federal do ', 'BC']

In [17]:
# Upper - letras maiúsculas 
string.upper()

'UNIVERSIDADE FEDERAL DO ABC'

In [89]:
# Lower - letras minúsculas
string.lower()

'universidade federal do abc'

In [19]:
# Contar número de ocorrências de determinado caractere - método count() 
string.count('a')

2

In [20]:
# Encontra o índice de um elemento especificado.
string.find("v")

3

In [21]:
# Centraliza a string - center(N de elementos da string final, 'padrão')
string.center(50, '*')

'***********Universidade Federal do ABC************'

In [22]:
# Note que "Universidade Federal do ABC" tem 27 elementos. 
len(string)

27

In [24]:
# Método replace() - replace ('substituido','substituto')

tel = "(11)94665-2219"
tel_semhifen = tel.replace('-','')
print(tel_semhifen) 

# podemos aplicar simultaneamente.
tel = tel_semhifen.replace('(','').replace(')','')  
print(tel)

(11)946652219
11946652219

### 11 - Exemplos

In [25]:
# Exemplo 

str1 = "A matemática é a base da ciência da computação. \
A principal habilidade de um cientista da computação deve \
ser a capacidade de resolver problemas do mundo real computacionalmente."

print("A string tem %d elementos" %(len(str1)))
lista_palavras = str1.split(' ')
print(lista_palavras)

print("O índice da palavra matemática é:", str1.find('matemática'))
print("O índice da palavra computação é:", str1.find('computação'))

A string tem 178 elementos
['A', 'matemática', 'é', 'a', 'base', 'da', 'ciência', 'da', 'computação.', 'A', 'principal', 'habilidade', 'de', 'um', 'cientista', 'da', 'computação', 'deve', 'ser', 'a', 'capacidade', 'de', 'resolver', 'problemas', 'do', 'mundo', 'real', 'computacionalmente.']
O índice da palavra matemática é: 2
O índice da palavra computação é: 36

# ---------------------------------------------------------------------------------------------------------------

## Estruturas de Dados

### Listas

São sequências de elementos mutáveis que são armazenados por sua posição relativa.

Em python as listas podem conter elementos de diferentes tipos de dados.

In [1]:
# Criando uma lista.

lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
# Acessando elementos da lista. 

lista1[0]

1

In [102]:
lista1[1]

2

In [103]:
# Lista de strings.

lista2 = ['a', 'b', 'c']
lista2

['a', 'b', 'c']

In [104]:
# Podem ter diferentes tipos de dados.

lista3 = ["Casa", 2, 13.77]
lista3

['Casa', 2, 13.77]

In [105]:
# Podemos mudar o elemento de uma lista.

lista3[0] = 3.14

In [106]:
# A lista se torna:

lista3

[3.14, 2, 13.77]

In [107]:
# Deletando um elemento da lista.

del lista3[0]

In [108]:
lista3

[2, 13.77]

In [112]:
# Acessando mais de um elemento da lista (slicing) - lista[a, b]

print("Original: ", lista1)
print(lista1[0:3])
print(lista1[1:3])
print(lista1[1:])
print(lista1[-1])
print(lista1[-2])
print(lista1[-5:-1])

Original:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3]
[2, 3]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
10
9
[6, 7, 8, 9]

In [131]:
# Com passo 

print(lista1[::2]) 
print(lista1[1::2])
print(lista1[::2]) 
print(lista1[::-1])
print(lista1[6:2:-1])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4]

In [133]:
# Concatenando listas.

print(lista2)
print(lista3)
lista4 = lista2 + lista3 
lista4

['a', 'b', 'c']
[2, 13.77]

['a', 'b', 'c', 2, 13.77]

LISTAS DE LISTAS ( MATRIZES )

In [136]:
# Criando a matriz.

lista = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lista

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [137]:
# Acessando os elementos da matriz - M[i][j]

print(lista[0][0])
print(lista[1][0])
print(lista[2][2]) # note que os indices são 0,1 e 2

1
4
9

In [138]:
# Os elementos podem ser atribuídos a variáveis.

A_00 = lista[0][0]
A_00

1

In [140]:
# Os elementos da matriz também podem ser alterados.

lista[0][0] = 0
lista[1][1] = 0
lista[2][2] = 0 
lista

[[0, 2, 3], [4, 0, 6], [7, 8, 0]]

In [141]:
# Observe que o primeiro elemento é um lista.

print(lista[0])

# Quando adicionamos mais um [] estamos acessando um elemento dentro dessa lista.

print(lista[0][1])

[0, 2, 3]
2

Operador in

In [142]:
print(10 in lista)

False

In [143]:
print('a' in lista4)

True

Funções Built-in

In [144]:
lista4

['a', 'b', 'c', 2, 13.77]

In [145]:
# Retorna o comprimento da lista.

print(len(lista4))
print(len(lista)) # indica que possui 3 elementos ( que no caso também são listas)
print(len(lista[0]))

5
3
3

In [146]:
# Retorna o valor máximo da lista.

print(lista1)
max(lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10

In [147]:
# Retorna o valor mínimo da lista.

print(lista1)
min(lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1

Métodos do objeto lista

In [148]:
# Adicionar um elemento a lista - método append()

lista1.append(99)

In [149]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

In [150]:
# Novamente 

lista1.append(99)
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 99]

In [151]:
# Contar o número de vezes que determinado elemento aparece na lista.

lista1.count(99)

2

In [152]:
# Remover um elemento específico da lista - método remove()

lista1.remove(99)
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

In [153]:
# inserir mais de um elemento na lista.

lista1.extend([123,456])
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 123, 456]

In [154]:
lista1.extend(["SP","RJ"])
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 123, 456, 'SP', 'RJ']

In [155]:
# Índice de um elemento.

print(lista1.index(123))
print(lista1.index('SP'))

11
13

In [156]:
# Inserir elemento em um índice específico - método insert(indice, elemento substituto).

lista1.insert(13,'MT')
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99, 123, 456, 'MT', 'SP', 'RJ']

In [157]:
# Remover elementos 
del lista1[10]
del lista1[11]

In [158]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 123, 'MT', 'SP', 'RJ']

In [159]:
# Para inverter a lista - método reverse()

lista1.reverse()
lista1

['RJ', 'SP', 'MT', 123, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
# Remove o último elemento da lista. 

lista1.pop()
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
# Ordena a lista - método sort()

dinheiro = [13.50, 4.30, 6, 7.20, 15]
dinheiro.sort()
dinheiro

[4.3, 6, 7.2, 13.5, 15]

In [161]:
# Fazendo um join 

'-'.join(['18', '09', '2019'])

'18-09-2019'

In [162]:
'*'.join(['18', '09', '2019'])

'18*09*2019'

Para mais informações:
    
https://docs.python.org/3.8/tutorial/datastructures.html

### Dicionários

O dicionário é um tipo de mapeamento em python. Mapeamentos são uma coleção de objetos que são armazenados por uma chave, ao
contrário de uma sequência de objetos que são armazenados pos sua posição relativa (lista).

São construídos usando-se chaves {} que contém pares de chave/valor.

In [164]:
# Criando um dicionário. 

dict1 = {'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4 }
dict1
# Este é um dicionário que possui 4 elementos, 4 key/values(4 chaves/valor).
# Observe que todas as chaves são do tipo string e os valores são int, mas isso pode variar.

{'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4}

In [173]:
# Neste caso as chaves são números int e os valores são strings. 

dict2 = {1: "Alan", 2: "Aline", 3: "Carlos", 4: "Fernando"}
dict2

{1: 'Alan', 2: 'Aline', 3: 'Carlos', 4: 'Fernando'}

In [166]:
# Acessando os valores de um dicionário - dict[CHAVE]

print(dict1['chave1']) 
print(dict2[3])

1
Carlos

In [167]:
# Note que da erro acessar como se fosse um indice.

print(dict1[1])

KeyError: 1

In [168]:
# A não ser que a chave seja de fato um número 

print(dict2[1])

Alan

In [174]:
# Acrescentando uma chave/valor ao dicionário 

print(dict2)
dict2[5] = "Jorge"
print(dict2)

{1: 'Alan', 2: 'Aline', 3: 'Carlos', 4: 'Fernando'}
{1: 'Alan', 2: 'Aline', 3: 'Carlos', 4: 'Fernando', 5: 'Jorge'}

In [171]:
print(dict1)
dict1['key'] = 1234
print(dict1)

{'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4}
{'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4, 'key': 1234}

In [175]:
# Podemos criar um dicionário vazio e colocar elementos nele.

dict3 = {}

dict3['k1'] = 'v1'
dict3['k2'] = 'v2'
dict3['k3'] = 'v3'

print(dict3)

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

Dicionário de listas

In [176]:
dict4 = {'key1':1230,'key2':[22, 453, 73.4],'key3':['Casa', 'Apartamento', 'Sobrado']}

In [177]:
# O valor associado a chave é a lista. 

dict4['key2']

[22, 453, 73.4]

In [178]:
print(dict4['key2'][0])
print(dict4['key2'][2])

22
73.4

Dicionários aninhados

In [180]:
# O valor da chave1 é um dicionário. 

dict5 = {'chave1':{'chave_ani': 'valor_ani'}}

print(dict5['chave1']) 
print(dict5['chave1']['chave_ani'])

{'chave_ani': 'valor_ani'}
valor_ani

In [181]:
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [182]:
# Para acessar uma chave aninhada 

dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

Funções Built-in

In [183]:
dict1 = {'chave1': 1, 'chave2': 2, 'chave3': 3, 'chave4': 4 }

In [184]:
# Número de elementos do dicionário. 

len(dict1)

4

In [185]:
# Tipo do objeto. 

type(dict1)

dict

In [186]:
# Valor máximo.

print(max(dict1)) # está na chave4 
print(dict1['chave4'])

chave4
4

In [187]:
# Converter dicionário em lista.
# Observe que a lista contém apenas as chaves. 

list(dict1)

['chave1', 'chave2', 'chave3', 'chave4']

Métodos do objeto dicionário

In [188]:
# Chaves do dicionário - método keys()

dict1.keys()

dict_keys(['chave1', 'chave2', 'chave3', 'chave4'])

In [189]:
# Valores do dicionário - método values()

dict1.values()

dict_values([1, 2, 3, 4])

In [190]:
# Criando uma lista com os valores do dicionário 

lista_aux = list(dict1.values())
lista_aux

[1, 2, 3, 4]

In [191]:
# Itens do dicionário 

dict1.items()

dict_items([('chave1', 1), ('chave2', 2), ('chave3', 3), ('chave4', 4)])

In [192]:
# Acrescentar um dicionário a outro.

estudantes = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}

In [193]:
estudantes.update(estudantes2)
print(estudantes)

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Maria': 27, 'Erika': 28, 'Milton': 26}

In [194]:
# Para limpar o dicionário - método clear()

estudantes.clear()
print(estudantes)

{}

In [195]:
# Para deletar o dicionário 

del estudantes

In [196]:
# Dará erro.

estudantes

NameError: name 'estudantes' is not defined

### Tuplas

As tuplas são uma sequência de elementos de imutável.  

Fornecem integridade dos dados.

In [197]:
# Criando uma tupla.

tupla1 = (12, 13, 14, 15, 'Alan')
tupla1

(12, 13, 14, 15, 'Alan')

In [198]:
# Acessando elementos da tupla.

tupla1[0]

12

In [199]:
# A tupla é imutável.

tupla1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [200]:
del tupla1[2]

TypeError: 'tuple' object doesn't support item deletion

In [201]:
# Slicing (Fatiamento) de tuplas.

tupla2 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tupla2[1:3]

(2, 3)

In [202]:
# Fatiamento com passo.

tupla2[::2]

(1, 3, 5, 7, 9)

In [203]:
# Podemos converter uma tupla para lista.

lista_tup = list(tupla2)
lista_tup

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [204]:
# Podemos converter uma lista para tupla.

tup_list = tuple(lista_tup)
tup_list

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [206]:
# Com dicionários podemos criar uma tupla com as chaves/valores. 

tup_dict = tuple(dict1)
print(tup_dict) 

tup_dict2 = tuple(dict1.values())
print(tup_dict2)

('chave1', 'chave2', 'chave3', 'chave4')
(1, 2, 3, 4)

In [207]:
# Para deletar uma tupla - comando del 

del tup_list

In [208]:
tup_list

NameError: name 'tup_list' is not defined

Funções Built in e Métodos de tuplas.

In [209]:
tupla1 = (12, 13, 14, 15, 'Alan')

In [210]:
# Número de elementos
len(tupla1)

5

In [211]:
# Tipo do objeto

type(tupla1)

tuple

In [212]:
# Conta quantos elementos especificados a tupla possui. 

print(tupla1.count(1))
print(tupla1.count('Alan'))
print(tupla1.count(12))

0
1
1

In [213]:
# Retorna o índice de um elemento especificado. 

print(tupla1.index(15))
print(tupla1.index("Alan"))

3
4

### Conjuntos

Não possuem indexação.

In [214]:
conj1 = {1, 2, 3, 4, 5, 's','b'}
conj1

{1, 2, 3, 4, 5, 'b', 's'}

In [215]:
# Não tem índices 

conj1[1]

TypeError: 'set' object is not subscriptable

In [216]:
# Pode ser alterado utilizando métodos:

conj1.remove(1)

In [217]:
conj1

{2, 3, 4, 5, 'b', 's'}

In [218]:
# Acresentando elementos 

conj1.update({99})
conj1

{2, 3, 4, 5, 99, 'b', 's'}

In [219]:
# União 

conj2 = {11, 21, 31, 41, 51, 's','b'}

conj1.union(conj2)

{11, 2, 21, 3, 31, 4, 41, 5, 51, 99, 'b', 's'}

In [220]:
# Intersecção 

conj1.intersection(conj2)

{'b', 's'}

In [7]:
A = {1, 1, 2, 3}
B = {1, 2}

A.intersection(B)

{1, 2}

In [8]:
C = {1, 2, 3, 4}
D = {3, 4, 5}

C.difference(D)

{1, 2}

In [9]:
D.difference(C)

{5}

### Referências

[1] https://panda.ime.usp.br/aulasPython/static/aulasPython/index.html

[2] https://www.datascienceacademy.com.br/course?courseid=python-fundamentos

[3] https://docs.python.org/pt-br/3.8/tutorial/index.html