## Funções especiais

### 1 - Função lambda

Permitem criar funções anônimas, ou seja, que não precisam ser definidas. 

lambda (parâmetro de entrada) : (retorno)

In [1]:
# Exemplo 
quadrado = lambda x: x**2 
quadrado(3)

In [2]:
# Exemplo
soma = lambda x,y: x + y 
soma(2,2)

In [3]:
# Exemplo
maior = lambda x, y : x if (x > y) else y
maior(3,5)

5

In [4]:
# Exemplo
par = lambda n: 1 if (n%2 == 0) else 0
valor = 12
if(par(valor)):
    print("PAR")
else:
    print("IMPAR")

PAR

In [5]:
# Exemplo
inverte_string = lambda s : s[::-1]
texto = "Este é um texto em python"
print(inverte_string(texto))

nohtyp me otxet mu é etsE

### 2 - Map()

Aplica uma função a cada elemento de uma sequência e retorna uma lista com os resultados.

In [6]:
# Exemplo

def celsius_to_fahrenheit(t):
    return round((5/9)*(t - 32), 1)
 
temp = [20, 40, 67, 100, 180, 500, 13]

map(celsius_to_fahrenheit, temp)  # retorna um iterator

In [7]:
# Para obter o resultado é necessário usar list().

list(map(celsius_to_fahrenheit, temp))

[-6.7, 4.4, 19.4, 37.8, 82.2, 260.0, -10.6]

#### 2.1) map() com expressão lambda

In [8]:
temp = [20, 40, 67, 100, 180, 500, 13]

list(map(lambda t: (5/9)*(t - 32), temp))

[-6.666666666666667,
 4.444444444444445,
 19.444444444444446,
 37.77777777777778,
 82.22222222222223,
 260.0,
 -10.555555555555555]

In [9]:
valor_venda = [15, 19, 21, 73]
valor_compra = [10, 12, 13, 40]

lucro = list(map(lambda x, y : x - y, valor_venda, valor_compra))
lucro

[5, 7, 8, 33]

### 3 - Reduce()

Aplica uma função a cada elemento de uma sequência, até que reste apenas um elemento.

In [10]:
# Deve ser importada do pacote functools:
from functools import reduce

In [11]:
# Exemplo:

lista = [11, 12, 13, 14, 15]

def soma(a, b):
    return a + b 

reduce(soma, lista) 

# O que foi feito:
# 1°) 11 + 12 = 23
# 2°) 23 + 13 = 36 
# 3°) 36 + 14 = 50
# 4°) 50 + 15 = 65

65

In [12]:
minha_lista = [2, 4, 5, 2, 1]

def achar_minimo(x, y):
    if x < y:
        return x
    else:
        return y

reduce(achar_minimo, minha_lista)

1

#### 3.1) reduce() com expressão lambda

In [13]:
# Verificando qual o maior valor em uma lista.

alturas = [1.60, 1.78, 1.80, 1.96, 1.77, 1.85]

reduce( lambda x, y : x if (x > y) else y , alturas)

1.96

###  4 - Filter()

Filtra todos elementos de uma sequência para os quais a função retorne verdadeiro.

In [14]:
# Exemplo: verificar os elementos ímpares de uma lista.

lista_num = [2, 3, 4, 5, 77, 63, 121, 30, 48]

def impar(n):
    if n % 2 != 0:
        return True 
    else:
        return False

filter(impar, lista_num) # Retorna um iterator.

In [15]:
# Usar junto com a função list().
list(filter(impar, lista_num))

[3, 5, 77, 63, 121]

#### 3.1) Filter() com expressão lambda

In [16]:
# Retornar apenas os elementos pares. 

list(filter( lambda n: n%2 == 0, lista_num))

[2, 4, 30, 48]

### 4 - List Comprehension

Aplica um expressão arbitrária a uma sequência de elementos. Essencialmente é um loop for() contruído dentro de colchetes []

In [17]:
# Exemplo: criar uma lista com o quadrado dos 10 primeiros naturais.

[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# Exemplo 

[x**2 for x in range(11) if x > 3]

[16, 25, 36, 49, 64, 81, 100]

In [19]:
# Exemplo: criar uma lista com os quadrados pares dos 10 primeiros naturais. 

[x**2 for x in range(11) if x%2 == 0]

[0, 4, 16, 36, 64, 100]

#### 4.1) Operações aninhadas

In [20]:
# Exemplo 

['menor' if x < 50 else "maior" for x in [x**2 for x in range(11)]]

['menor',
 'menor',
 'menor',
 'menor',
 'menor',
 'menor',
 'menor',
 'menor',
 'maior',
 'maior',
 'maior']

In [21]:
# 1° - entre parênteses é calculada uma lista com o quadrado dos 10 primeiro números naturais 

lista_quarta = [x**2 for x in (i**2 for i in range(11))]
lista_quarta

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [22]:
# Retorna uma lista com cada caracter de uma string.

list_string = [j for j in "Esta é uma string"]
list_string

['E',
 's',
 't',
 'a',
 ' ',
 'é',
 ' ',
 'u',
 'm',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

### 5 -  Zip()

Une duas sequências e retorna uma lista de tuplas com os pares de elementos de cada seqûencia.

In [23]:
a = [1, 2, 3]
b = [4, 5, 6]

zip(a,b)

In [24]:
# Usando a função list().
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [25]:
# Sequências com número diferente de elementos.

a = [1, 2, 3]
b = [4, 5, 6, 7, 8]

list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [26]:
# Usando com dicionários.

d1 = {'A': 1,'B': 2}
d2 = {'C': 3,'D': 4}

In [27]:
list(zip(d1.keys(), d2.keys()))

[('A', 'C'), ('B', 'D')]

In [28]:
list(zip(d1.values(), d2.values()))

[(1, 3), (2, 4)]

In [29]:
list(zip(d1, d2.values()))

[('A', 3), ('B', 4)]

In [30]:
# Dicionário d1 passa a ter os valores do diciário d2. 

def troca(d1, d2):
    d3 = {}
    for k, v in zip(d1, d2.values()):
        d3[k] = v
    return d3
    
troca(d1, d2)

{'A': 3, 'B': 4}

### 6 - Enumerate()

Recebe uma sequência e retorna uma tupla com o par índice/elemento da sequência.

In [31]:
lista_exemplo = [1, 2, 3, 4, 5]

In [32]:
# Retorna um iterator.

enumerate(lista_exemplo)

In [33]:
# Usando a função list()

list(enumerate(lista_exemplo))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [34]:
# Acessando a lista de tuplas. 

l = list(enumerate(lista_exemplo))
print(l[0])
print(l[0][0])

(0, 1)
0

In [35]:
lista_letra = ['a', 'b', 'c', 'd']

list(enumerate(lista_letra))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [36]:
d1

{'A': 1, 'B': 2}

In [37]:
# Em dicionários

list(enumerate(d1))

# índice/chave

[(0, 'A'), (1, 'B')]

In [38]:
centros = ['CECS','CMCC','CCNH']

for i, elemento in enumerate(centros):
    print(i, elemento)

0 CECS
1 CMCC
2 CCNH

### Referências

[1] https://panda.ime.usp.br/aulasPython/static/aulasPython/index.html

[2] https://docs.python.org/pt-br/3.8/tutorial/index.html